@import "app/variables";
.header{
  display: none;
  box-sizing: border-box;
  border-bottom: 0.5px solid rgb(255, 255, 255, 0.2);
  height: 51px;
  //opacity: 0.2;

  @media (min-width: 1024px) {
    display: block;
    height: auto;
    background: rgba(217, 217, 217, 0.1);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
  }
  &.black{
    background: rgb(18 18 18 / 10%);
    border-bottom: 1px solid rgba(18, 18, 18, .1);
  }
  .blackIcon{
    display: flex;
    align-items: center;
    svg{
      path{
        fill: #121212;
      }
    }
    &:hover{
      svg{
        path{
          fill: #3B604E;
        }
      }
    }
  }
  .whiteIcon{
    display: flex;
    align-items: center;
    svg{
      path{
        fill: #ffffff;
      }
    }
    &:hover{
      transition: all 0.3s ease;
      svg{
        path{
          fill: $primary;
        }
      }
    }
  }
  .imgBlack{
    svg{
      fill: black;
    }
  }
}

.vertLine{
  width: 1px;
  background: #fff;
  min-height: 14px;

  &.black{
    background: #121212;
  }
}