@import "app/variables";
.errorMessage{
  color: red;
}
.block{
  background: #121212;
  color: white;
  .row{
    flex-direction: row!important;
  }
  .leftBlock{
    width: 100%;
    @media (min-width: 1024px) {
      width: 60%;
    }
    @media (min-width: 1280px) {
      width: 60%;
    }
    h2{
      color: white;
      margin-bottom: 44px;
      @media (min-width: 1024px) {
        font-size: 40px;
        line-height: 48px;
        font-weight: 700;
        margin-bottom: 40px;
      }
    }
    label{
      font-family: var(--font-gilroy);
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: white;
      background: unset;
      margin-bottom: 13px;
      display: block;
      @media (min-width: 1280px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
    input{
      width: 100%;
      border-bottom: 1px solid  #fff;
      background: unset;
      //padding-bottom: 38px;
      margin-bottom: 48px;
      &:last-child{
        margin-bottom: unset;
      }
    }
    button{
      height: fit-content;
      width: 100%;
      padding: 22px;
      background: #FFDA2B;
      border-radius: 85px;
      box-shadow: 0px 25px 74px 0px #FFDA2B66;
      font-family: var(--font-gilroy);
      font-size: 17px;
      line-height: 22px;
      font-weight: 700;
      color: $text;

      @media (min-width: 1024px) {
        height: fit-content;
        width: fit-content;
        padding: 18px 50px;
        color: white;
        border: 1px solid #FFDA2B;
        box-shadow: unset;
        background: unset;
        &:hover{
          color: $text;
          background: #FFDA2B;
          box-shadow: 0px 25px 74px 0px #FFDA2B66;
        }
      }
    }
    .text{ 
      font-family: var(--font-gilroy);
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      opacity: 0.6;
      display: flex;
      align-items: center;
      text-align: center;
      @media (min-width: 1024px) {
        text-align: left;
      }
      a{
        font-weight: 700;
      }
    }
    .error, .success{
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      .errorText, .successText{
        color: $primary;
      }
      svg{
        height: 100px;
        width: 100px;
        @media (min-width: 1024px) {
          height: 200px;
          width: 200px;
        }
      }
    }
  }
  .rightBlock{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 75px;
    @media (min-width: 1024px) {
      width: 60%;
      gap: 45px;
    }
    @media (min-width: 1280px) {
      width: 60%;
      gap: 65px;
    }
    &.modal{

      .contacts{
        flex-direction: column;
        height: 100%;
        .title{
          margin-bottom: 33px;
          display: none;
          @media (min-width: 1024px) {
            display: block;
            font-size: 40px;
            line-height: 48px;
          }
        }
        .socials{
          .soc{
            width: 47%;
            background: #313131;
            padding-top: 45px;
            padding-bottom: 38px;

            &:hover{
               background: $primary;
               color: $text;
              span{
                font-weight: 500;
              }
              i{
                svg{
                  path{
                    fill: $text;
                  }
                }
              }
              transition: 200ms ease-in-out;
            }
            i{
              svg{
                width: 51px;
                height: 51px;
              }
              @media (min-width: 1024px) {
                svg{
                  width: 61px;
                  height: 61px;
                }
              }
              @media (min-width: 1280px) {
                svg{
                  width: 58px;
                  height: 58px;
                }
              }
            }


            @media (min-width: 1024px) {
              width: 197px;
              height: 175px;
              padding-top: unset;
              padding-bottom: unset;
            }
            @media (min-width: 1280px) {
              width: 196px;
              height: 174px;
              border-top-right-radius: 90px;
              padding-top: unset;
              padding-bottom: unset;
            }
            span{
              font-family: var(--font-gilroy);
              font-size: 12px;
              line-height: 14px;
              font-weight: 400;
              display: block;
              text-align: center;
              @media (min-width: 1024px) {
                font-size: 16px;
                line-height: 20px;
              }
              @media (min-width: 1280px) {
                font-size: 18px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }
    .line{
      display: none;
      @media (min-width: 1024px) {
        display: block;
        height: 89%;
        opacity: 0.3;
        border-left: 1px solid  white;
      }

    }
    .contacts{
      display: flex;
      gap: 20px;
      height: 100%;
      width: 100%;
      .title{
        font-family: var(--font-gilroy);
        font-size: 20px;
        line-height: 33px;
        font-weight: 700;
        color: white;
        //margin-bottom: 33px;
        @media (min-width: 420px) {
          font-size: 30px;
          line-height: 38px;
        }
        @media (min-width: 760px) {
          font-size: 40px;
          line-height: 48px;
        }
      }
      .socials{
        display: flex;
        gap: 23px;
        .soc{
          //width: 47%;
          //background: #313131;
          //padding-top: 45px;
          //padding-bottom: 38px;
          display: flex;
          flex-direction: column;
          border-top-right-radius: 90px;
          gap: 26px;
          justify-content: center;
          align-items: center;
          &:hover{
           // background: $primary;
           // color: $text;
            span{
              font-weight: 500;
            }
            i{
              svg{
                path{
                  fill: $primary;
                }
              }
            }
            transition: 200ms ease-in-out;
          }
          //@media (min-width: 1024px) {
          //  width: 197px;
          //  height: 175px;
          //  padding-top: unset;
          //  padding-bottom: unset;
          //}
          //@media (min-width: 1280px) {
          //  width: 196px;
          //  height: 174px;
          //  border-top-right-radius: 90px;
          //  padding-top: unset;
          //  padding-bottom: unset;
          //}
          //span{
          //  font-family: var(--font-gilroy);
          //  font-size: 12px;
          //  line-height: 14px;
          //  font-weight: 400;
          //  display: block;
          //  text-align: center;
          //  @media (min-width: 1024px) {
          //    font-size: 16px;
          //    line-height: 20px;
          //  }
          //  @media (min-width: 1280px) {
          //    font-size: 18px;
          //    line-height: 24px;
          //  }
          //}
          i{
            svg{
              width: 30px;
              height: 30px;
            }
            //@media (min-width: 1024px) {
            //  svg{
            //    width: 61px;
            //    height: 61px;
            //  }
            //}
            //@media (min-width: 1280px) {
            //  svg{
            //    width: 30px;
            //    height: 30px;
            //  }
            //}
          }

        }
      }
    }
  }
}