@import "/app/variables";

.block{
  display: flex;
  flex-direction: column;
  color: white;
  margin-bottom: 40px;
  @media (min-width: 1024px) {
    flex-direction: row;
    margin-bottom: 63px;
  }
  .firstBlock{
      width: fit-content;
    .title{
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      margin-bottom: 25px;
      display: block;
    }
    .logoBlock{
      display: flex;
      align-items: center;
      gap: 14px;
      margin-bottom: 32px;
      i{
        svg{
          width: 91px;
          height: 91px;
        }
        @media (min-width: 1024px) {
          svg{
            width: 80px;
            height: 80px;
          }
        }
        @media (min-width: 1280px) {
          svg{
            width: 91px;
            height: 91px;
          }
        }
      }
      .logoLable{
        font-size: 28px;
        font-weight: 800;
        line-height: 35px;
        max-width: 180px;
        text-transform: uppercase;
      }
      .logoDesc{
        display: none;
        max-width: 216px;
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        @media (min-width: 1024px) {
          display: block;
        }
      }
    }
    .description{

      font-family: var(--font-gilroy);
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      margin-bottom: 54px;
      display: block;

      @media (min-width: 1024px) {
        max-width: 60%;
      }
    }
    .contact{
      background: #FFDA2B;
      box-shadow: 0px 25px 74px 0px #FFDA2B66;
      padding: 15px 35px;
      border-radius: 85px;
      font-family: var(--font-gilroy);
      font-weight: 700;
      font-size: 21px;
      line-height: 26px;
      color: $text;
      display: block;
      width: fit-content;
      @media (min-width: 1024px) {
        padding: 18px 44px;
      }
    }
  }
  .secondBlock{
    display: flex;
    width: fit-content;
    gap: 150px;
    padding-top: 30px;
    @media (min-width: 1024px) {
      display: flex;
      padding-top: 57px;
      gap: 50px;
    }
    @media (min-width: 1280px) {
      gap: 150px;
    }
    .navigation{
      display: none;
      @media (min-width: 1024px) {
        display: block;
      }
      .title{
        display: block;
        margin-bottom: 25px;
        font-family: var(--font-gilroy);
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
      }
      ul{
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-family: var(--font-gilroy);
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
      }
    }
    .contactUs{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;
      @media (min-width: 1024px) {
        gap: unset;
      }
      .title{
        display: block;
        margin-bottom: 22px;
        font-family: var(--font-gilroy);
        font-weight: 700;
        font-size: 25px;
        line-height: 33px;
        @media (min-width: 1024px) {
          font-size: 28px;
          margin-bottom: 25px;
        }
      }
      .wp{
        font-size: 28px;
        line-height: 34px;
        font-weight: 700;
      }
      .email{
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;
        @media (min-width: 1024px) {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }
  }
}
.copyrightBlock{
  display: flex;
  color: white;
  flex-direction: column-reverse;
  gap: 23px;
  padding-bottom: 39px;
  @media (min-width: 1280px) {
    flex-direction: row;
    padding-bottom: unset;
  }
  .copyright{
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    @media (min-width: 1024px) {
      width: 48.5%;
      font-size: 16px;
      line-height: 21px;
    }
    @media (min-width: 1280px) {
      width: 52%;
    }
  }
  .links{
    display: flex;
    gap: 10px;
    font-family: var(--font-gilroy);
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-decoration: underline;
    flex-direction: column;

    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 21px;
      flex-direction: column;
      gap: 10px;
    }
    @media (min-width: 1280px) {
      flex-direction: row;
      gap: 54px;
    }
  }
}