@import "/app/variables";

.grid{
  display: grid;
  gap: 22px;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 15px;
  @media (min-width: 1024px) {
    gap: 100px;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 60px;
  }
}

.item{
  display: flex;
  gap: 17px;
  @media (min-width: 1024px) {
    flex-direction: column;
    gap: unset;
    &:nth-child(odd){
      grid-column: span 3;
    }
    &:nth-child(even){
      grid-column: span 5;
    }
    &:nth-child(1){
      grid-column: span 4;
    }
  }

  .number{
    font-family: var(--font-gilroy);
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    margin-bottom: 2px;
    min-width: 84px;
    @media (min-width: 768px) {
      font-size: 80px;
      line-height: 92px;
    }
    @media (min-width: 1024px) {
      font-size: 92px;
      line-height: 110px;
    }
  }
  .text{
    font-family: var(--font-gilroy);
    font-size: 14px;
    font-weight: 700;
    width: 230px;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
      width: unset;
      font-size: 18px;
    }
    @media (min-width: 1024px) {
      width: 100%;
      font-size: 20px;
    }
  }
}


.titleBlock{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 43px;

  .subLabel{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    color: $text;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 19px;
    }
    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  h2{
    text-transform: uppercase;
    color: $text;
  }
  &.half{
    width: 100%;
    @media (min-width: 768px) {
      width: 90%;
    }
    @media (min-width: 1024px) {
      width: 70%;
    }

    h2{
      text-transform: none;
      color: inherit;
    }
    .subLabel{
      color: inherit;
    }
  }

}

.blocks{
  padding: 30px 20px 20px 20px;
  background: #F2F2F2;
  border-top-right-radius: 100px;
  @media (min-width: 1024px) {
    padding: 60px 50px 100px 50px;
  }


  .label{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.3em;
    color: $text;
    text-transform: uppercase;
    margin-bottom: 44px;
    display: block;
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 19px;
    }
    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .blockBloks{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 42px 10px;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 42px 10px;
    }

    .blokItem{
      display: flex;
      gap:10px;
      i{
        position: relative;
        z-index: 10;
        &:after{
          content: ' ';
          display: block;
          background: #FFDA2B;
          border-radius: 100px;
          width: 44px;
          height: 44px;
          position: absolute;
          right: 15%;
          top: 15%;
        }
        img{
          width: 44px;
          height: 44px;
          z-index: 12;
          position: relative;
          min-width: 44px;
        }
      }
      .textItem{
        color: $text;
         font-family: var(--font-gilroy);
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
      }
    }
  }
}

