@import "app/variables";


.OrderConsultation{
  font-family: var(--font-gilroy);
  padding: 40px 0;
  margin-bottom: 60px;
  .content{
    color: #FFFFFF;
    max-width: 800px;
    padding: 10px 15px;
  }
  .contentBlock{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background: #3E7A5D;
    border-radius: 50px;
    padding: 25px;
    @media (min-width: 768px) {
      padding: 20px 15px;
      flex-direction: row;
    }
    @media (min-width: 1024px) {
      gap: 0px;
      border-radius: 50px;
      padding: 40px 25px;
      justify-content: space-between;
    }
    .logo {

    }
    .description{
      max-width: 280px;
      font-size: 18px;
      line-height: 20px;
      font-weight: 500;
      text-align: center;
      @media (min-width: 768px) {
        text-align: left;
        font-size: 20px;
        line-height: 22px;
      }
      @media (min-width: 1024px) {
        font-size: 22px;
        line-height: 24px;
      }
    }
    .paper {
      display: none;
      @media (min-width: 768px) {
        display: inline;
      }
    }
    .contact {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      gap: 25px;
      & > a:first-child {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        text-align: center;
        color: #000;
        background: #FFDA2B;
        padding: 17px 25px;
        border-radius: 100px;
        @media (min-width: 768px) {
          padding: 17px;
        }
        @media (min-width: 1024px) {
          font-size: 16px;
          line-height: 18px;
          padding: 18px;
        }
      }
      .socials{
        display: flex;
        align-items: center;
        gap: 17px;
        .item{
          background: #FFFFFF;
          border-radius: 8px;
          padding: 5px;
          max-width: 33px;
          max-height: 31px;
        }
      }
    }
  }

}
