@import "app/variables";

.Converter {
  padding: 55px 0;
  font-family: var(--font-gilroy);

  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;

    .wrapBlock {
      background: #F8F8F9;
      border-radius: 8px;
      padding: 15px 5px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      border: 1px solid #DADCE0;
      @media (min-width: 768px) {
        flex-direction: row;
        padding: 35px 25px;
      }
      .headerBlock {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        @media (min-width: 768px) {
          flex-direction: row;
        }
        .swapButtons {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          margin-bottom: 25px;
          @media (min-width: 768px) {
            gap: 7px;
          }

          .buttonSwapped {
            height: 44px;
            display: block;
            padding: 12px 8px;
            min-width: 85px;
            font-family: var(--font-gilroy);
            font-weight: 700;
            font-size: 16px;
            line-height: 17px;
            color: $backgroun-second;
            background: unset;
            box-shadow: unset;
            border: 1px solid $backgroun-second;
            width: 100px;
            border-radius: 85px;
            margin: 0 auto;

            @media (min-width: 768px) {
              min-width: 100px;
            }
            @media (min-width: 1024px) {
              color: $backgroun-second;
              background: unset;
              box-shadow: unset;
              font-size: 16px;
              line-height: 19px;
              padding: 13px 13px;
            }

            &:hover {
              box-shadow: 0px 25px 74px 0px #3E7A5D45;
              color: white;
              background: $backgroun-second;
            }

            &.active {
              color: white;
              background: $backgroun-second;
            }
          }
        }

        .filters {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 25px;
          margin-bottom: 25px;
        }

        /* === Dropdown === */
        .dropdown {
          position: relative;
          width: 100px;
          @media (min-width: 768px) {
            width: 100px;
          }
          &Button {
            width: 100%;
            padding: 8px 5px;
            font-size: 18px;
            font-weight: 500;
            border: 1px solid #3B604E;
            border-radius: 100px;
            height: 44px;
            cursor: pointer;
            transition: 0.2s ease;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            z-index: 11;

            @media (min-width: 768px) {
              padding: 8px 12px;
            }
            &:hover {
              border-color: #999;
              background: #fafafa;
            }

            .circle {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #fff;
            }

            .flag {
              width: 35px;
              height: 35px;
              object-fit: cover;
            }
          }

          .arrow {
            width: 12px;
            height: 12px;
            transition: transform 0.2s;

            &Open {
              transform: rotate(180deg);
            }
          }

          /* === Контейнер списку === */
          .dropdownListWrapper {
            position: absolute;
            top: 0;
            border: 1px solid #3B604E;
            border-radius: 22px;
            padding-top: 44px;
            right: 0;
            width: 100%;
            background: #fff;
            z-index: 10;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
            overflow: hidden; /* важливо, щоб бордер не перекривався скролом */
          }

          &List {
            max-height: 220px;
            overflow-y: auto;
            /* приховати стандартний скролбар */
            scrollbar-width: thin;
            scrollbar-color: #ccc transparent;

            &::-webkit-scrollbar {
              width: 6px;
            }

            &::-webkit-scrollbar-track {
              background: transparent;
            }

            &::-webkit-scrollbar-thumb {
              background-color: #ccc;
              border-radius: 3px;
            }
          }

          &Item {
            padding: 8px 12px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 8px;
            transition: 0.15s ease;
            position: relative;
            margin-bottom: 1px;
            &::after {
              content: "";
              position: absolute;
              left: 7px;
              right: 7px;
              bottom: 0;
              height: 0.5px;
              background: #3B604ECC;
            }

            &:hover {
              background: #f5f5f5;
            }
            &:last-child {
              border-bottom: none;
              ::after {
                height: 0;
              }
            }
            &.active {
              background: #eef3ff;
              font-weight: 600;
            }

            .circle {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #fff;
            }

            .flag {
              width: 35px;
              height: 35px;
              object-fit: cover;
            }
          }
        }
      }
      .contentBlock {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px;
        @media (min-width: 768px) {
          justify-content: space-between;
        }
        .equals {
          display: flex;
          font-size: 30px;
          line-height: 30px;
          padding-top: 5px;
          align-items: center;
          justify-content: center;
          background: #fff;
          box-shadow: 0px 0px 4px 0px #0000001A;
          width: 47px;
          height: 47px;
          border-radius: 50%;
        }
      }
      .footerBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media (min-width: 768px) {
          flex-direction: column;
          align-items: center;
        }
        .date {
          font-weight: 500;
          font-size: 18px;
          @media (min-width: 768px) {
            line-height: 44px;
          }
        }
        .bankInfo {
          display: flex;
          gap: 5px;
          align-items: center;
          margin-bottom: 25px;
          flex-direction: row-reverse;
          @media (min-width: 768px) {
            height: 51px;
            flex-direction: column;
          }
          span {
            font-size: 18px;
            font-weight: 600;
          }
          .bankLogo {
            height: 31px;
          }
        }
      }
    }
    .inputGroup {
      position: relative;
      display: inline-flex;
      align-items: center;
      width: 100%;
      @media (min-width: 768px) {
        width: auto;
      }
    }

    .textInput {
      height: 51px;
      padding: 16px 21px;
      border: 1px solid #FFDA2B;
      border-radius: 40px;
      font-size: 18px;
      box-sizing: border-box;
      width: 100%;
      @media (min-width: 768px) {
        width: auto;
        max-width: 250px;
      }
    }

    .inputGroup span {
      position: absolute;
      right: 18px;
      color: #000;
      pointer-events: none;
    }

  }
}
