@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo{
  width: 50px;
  height: 50px;
  @media (min-width: 1024px) {
    width: 60px;
    height: 60px;
  }
  @media (min-width: 1280px) {
    width: 80px;
    height: 80px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide::before{
  content: ' ';
  background: #141414;
  display: block;
  height: 100%;
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
