@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-navigation-top-offset: 54%;
  --swiper-pagination-fraction-color: #fff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo{
  width: 50px;
  height: 50px;
  @media (min-width: 1024px) {
    width: 60px;
    height: 60px;
  }
  @media (min-width: 1280px) {
    width: 80px;
    height: 80px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide::before{
  content: ' ';
  background: #141414;
  display: block;
  height: 100%;
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
.swiper-button-prev, .swiper-button-next{
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 90px;
  opacity: 1!important;
  width: 57.33px!important;
  height: 57.33px!important;
}
.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 21px!important;
  #font-weight: 700!important;
  color: white;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35!important;
}
.pagginations-swiper{
  z-index: 10;
  bottom: 20% !important;
  position: absolute;
  left: auto;
  display: flex;
  justify-content: flex-end;
  padding-right : 1rem;
}
.h2{
  font-family: var(--font-gilroy);
  font-weight: 700;
  font-size: 46px;
  line-height: 56px;
}