.content{
  min-height: 53px;
  border-bottom: 0.5px solid #FFFFFF80;
  &.black{
    border-bottom: 0.5px solid rgba(18, 18, 18, 0.5);
  }
  .logoBlock{
    align-items: center;
    display: flex;
    height: 100%;
    .logo{
      svg{
        width: 33px;
        height: 33px;
      }
    }
    .name{
      width: 78px;
      font-weight: 800;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: white;
      &.black{
        color:#121212;
      }
    }
  }
  .phoneBlock{
    display: flex;
    height: 100%;
    padding: 15px 21px;
    align-items: center;
    border-left: 0.4px solid rgb(255, 255, 255, 0.2) ;
    border-right: 0.4px solid rgb(255, 255, 255, 0.2) ;
    &.black{
      border-left: 0.4px solid rgba(18, 18, 18, 0.2) ;
      border-right:0.4px solid rgba(18, 18, 18, 0.2);
      svg{
        path{
          fill: #121212;
        }
      }
    }
  }

  .menuBlock{
    display: flex;
    align-items: center;
    padding: 15px 0 15px 21px;
    &.black{
      svg{
        circle{
          fill: #121212;
        }
      }
    }
  }
}
.mobile{

  .block{
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: white;
    font-family: var(--font-gilroy);
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 69px;
  }
  .socials{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .contact{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    align-items: center;
    margin-bottom: 30px;
  }
  .contactUs{
    display: flex;
    justify-content: center;
    margin-bottom: 88px;
    .button{
      font-family: var(--font-gilroy);
      font-size: 18px;
      line-height: 22px;
      font-weight: 700;
      color: #FFDA2B;
      border: solid 1px #FFDA2B;
      padding: 11.5px 21px;
      border-radius: 25px;
    }
  }
  .vertLine{
    width: 1px;
    background: #fff;
    min-height: 14px;
  }
}