@import "app/variables";

.titleBlock{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 25px;

  .subLabel{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    color: $text;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 19px;
    }
    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  h2{
    text-transform: uppercase;
    color: $text;
  }
  &.half{
    width: 70%;

    h2{
      text-transform: none;
      color: inherit;
    }
    .subLabel{
      color: inherit;
    }
  }

}
.text{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: var(--font-gilroy);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 35px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
  @media (min-width: 1024px) {
    font-size: 18px;
  }
  p{

  }
}
.buttonBlock{
  display: flex;
  justify-content: flex-start;
  @media (min-width: 1024px) {
    justify-content: flex-start;
  }
  &.mobileCenter{
    @media (max-width: 768px) {
      justify-content: center;
      .button{
        font-size: 21px;
        padding: 21px 59px;
      }
    }
  }
  .button{
    font-family: var(--font-gilroy);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;

    text-align: left;
    padding: 15px 42px;
    border-radius: 85px;
    gap: 10px;

    display: block;
    width: fit-content;
    &.green{
      background: #3B604E;
      box-shadow: 0px 25px 74px 0px #3E7A5D45;
      color:#fff;
    }
    &.yellow{
      background: #FFDA2B;
      box-shadow: 0px 25px 74px 0px #FFDA2B66;
      color:#121212;
    }
    @media (min-width: 768px) {
      font-size: 18px;
      line-height: 22px;
    }
    @media (min-width: 1024px) {
      font-size: 21px;
      line-height: 26px;
      padding: 18px 44px;
    }
  }
}
.image{
  min-height: 100%;
  position: relative;
  overflow: hidden;

  &.topLeft{
    border-top-left-radius: 180px 180px;
  }
  &.topRight{
    border-top-right-radius: 180px 180px;
  }
  &.bottomRight{
    border-bottom-right-radius: 180px 180px;
  }
  &.bottomLeft{
    border-bottom-left-radius: 180px 180px;
  }
}