@import "app/variables";

.postPreview{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  .imgBlock{
    width: 100%;
    min-width: 328px;
    min-height: 172px;
    position: relative;
   // border-top-left-radius: 60px;
    //overflow: hidden;
    @media (min-width: 450px) {
      min-height: 200px;
    }
    @media (min-width: 550px) {
      min-height: 250px;
    }

    @media (min-width: 1024px) {
      min-width: 300px;
      min-height: 206px;
      border-top-left-radius: 130px;
    }
    &.other{
      min-width: 270px;
      min-height: 180px;
    }
  }
  .contentBlock{
    display: flex;
    flex-direction: column;
    padding: 20px 35px;
    background: #F7F7F7;
    min-height: 55%;
    @media (min-width: 768px) {
      height: 60%;
    }
    &.other{
      padding: 10px 15px;
    }
    .date{
      font-family: var(--font-gilroy);
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      color: rgb(157, 157, 157);
      @media (min-width: 1024px) {
        font-size: 13px;
        line-height: 19px;
      }
    }
    .author{
      font-family: var(--font-gilroy);
      font-size: 14px;
      line-height: 21px;
      font-weight: 400;
      color: rgb(157, 157, 157);
      @media (min-width: 1024px) {
        font-size: 13px;
        line-height: 19px;
      }
    }

    .textBlock{
      margin-bottom: 26px;
      .h2{
        font-family: var(--font-gilroy);
        font-size: 24px;
        line-height: 26px;
        font-weight: 700;
        margin-bottom: 10px;
        @media (min-width: 1024px) {
          font-size: 18px;
          line-height: 20px;
        }

        &.other{
          font-size: 18px;
        }
      }
      .text{
        font-family: var(--font-gilroy);
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        @media (min-width: 1024px) {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .read{
      display: none;
      padding: 8px 48px;
      color: #3B604E;
      font-family: var(--font-gilroy);
      font-size: 14px;
      line-height: 17px;
      font-weight: 700;
      border: #3B604E solid 1px;
      width: fit-content;
      border-radius: 85px ;
      @media (min-width: 768px) {
        display: block;
      }
      @media (min-width: 1024px) {
        font-size: 18px;
        line-height: 22px;
        padding: 12px 67px;
      }
      @media (min-width: 1024px) {
        color: $text;
        background: unset;
        box-shadow: unset;
      }
      &:hover{
        color: white;
        background: #3B604E;
        box-shadow: 0px 25px 74px 0px #3E7A5D45;
      }
    }
  }

}