@import "app/variables";

.container{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 9px;
  @media (min-width: 1024px) {
    margin-bottom: 30px;
  }
  .block{
    display: flex;
    align-items: center;
    gap: 9px;
    .link{
      font-family: var(--font-formular);
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: rgb(157, 157, 157);
      display: flex;
    }
    .line{
      display: flex;
      background: #9d9d9d;
      width: 41px;
      height: 1px;
    }
  }

}