@import "app/variables";

.staticHeroForConverter{
  position: relative;
  h1 {
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    line-height: 100%;
    max-width: 300px;
    @media (min-width: 768px) {
      font-size: 38px;
      max-width: 540px;
    }
    @media (min-width: 1024px) {
      font-size: 48px;
      max-width: 600px;
    }
  }
  .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .content{
    padding-top: 73px;
    padding-bottom: 44px;
    color: white;
    z-index: 10;
    position: relative;
    @media (min-width: 450px) {
      padding-bottom: 50px;
    }
    @media (min-width: 768px) {
      padding-bottom: 60px;
    }
    @media (min-width: 1024px) {
      padding-top: 190px;
      padding-bottom: 70px;
    }
    .contentBlock{
      display: flex;
      flex-direction: column;
      gap: 50px;
      @media (min-width: 1024px) {
        gap: 60px;
        justify-content: space-between;
      }
      .first{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .label{
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.3em;
          font-weight: 700;
          text-transform: uppercase;
          display: block;
          @media (min-width: 768px) {
            font-size: 14px;
            line-height: 17px;
          }
          @media (min-width: 1024px) {
            font-size: 17px;
            line-height: 20px;
          }
          
        }
      }
      .second{
        font-family: var(--font-gilroy);
        font-size: 14px;
        line-height: 1.2em;
        text-align: center;
        font-weight: 500;
        display: block;
        margin: 0 auto;
        @media (min-width: 768px) {
          font-size: 16px;
          line-height: 22px;
          max-width: 560px;
        }
        @media (min-width: 1024px) {
          font-size: 22px;
          line-height: 27px;
          text-align: center;
          max-width: 660px;
        }
      }
      .third{
        font-family: var(--font-gilroy);
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        display: block;
        text-align: center;
        color: #fff;
        backdrop-filter: blur(50px);
        border-radius: 10px;
        margin: 0 auto;
        padding: 6px 8px;
        border: 1px solid #FFFFFF;
        max-width: 300px;
        @media (min-width: 768px) {
          font-size: 16px;
          line-height: 22px;
          padding: 16px 18px;
          border-radius: 20px;
          max-width: 526px;
        }
        @media (min-width: 1024px) {
          font-size: 20px;
          line-height: 24px;
          padding: 26px 28px;
          max-width: 626px;
        }
      }
    }
    .slidersBlock{
      .label{
        font-family: var(--font-gilroy);
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
        display: block;
        @media (min-width: 768px) {
          font-size: 30px;
          line-height: 35px;
          margin-bottom: 40px;
        }
        @media (min-width: 1024px) {
          font-size: 45px;
          line-height: 55px;
          margin-bottom: 55px;
        }
        @media (min-width: 1280px) {
          margin-bottom: 80px;
        }
      }
    }
  }
}